body{
    font-style: font-family;
    background-color:#e6f4ff;
}
nav {
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
}
.navbar{
  position: fixed;
}
nav li{
  list-style: none;
}
nav img, nav ul{
  padding-left: 100px;
  margin-right: 100px;
}
/* Hover on navbar */
nav ul li a {
  display: block;
  text-decoration: none;
  position: relative;
}
/* for the logo on navbar */
.header-nav__logo{
  transition: transform 0.3 s ease;     
}
.header-nav__logo:hover{
  transform: scale(0.8) ; 
  cursor: pointer;
}
/* Hover effect */
nav ul li a:hover::after {
  width: 70%;
}
nav ul li a::after {
  content: ''; /* Create a pseudo-element */
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 0;
  height: 5px;
  background-color: #1105f6;
  transition: width 0.3s ease; 
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}
  .underline {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #000; 
}
.underline::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 15px;
    width: 70%; 
    height: 5px;  
    background-color: #1105f6; 
}
/* ///////////////////
home-page */
.background{
    background-image: url(/image/background.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background h1{
    font-size: 50px;
    position: absolute;
    top: 190px;
    padding: 0 199px;
    right: 70vh;
    text-align:left;
}
.background p{
  color: #7485b9; font-weight: 1000;
}
.background div{
    position: absolute;
    top: 55%;
    padding: 0 190px;
    right: 45%;
}
/* A technology nonprofit with a global vision (home-page*/
.first-section-home{
  text-align: center;
  margin-top: 100px;
}
.first-section-home h1{
  margin-top: 40px;
}
.first-section-home-columns{
  display: flex;
  justify-content: space-between;
}
.first-section-home-column{
  flex: 1; 
  margin-right: 40px;
  margin: 3px ;
  padding: 15px;
}
/* <!-- Global reach,local impact (home-page --> */
.second-section-home{
  margin-top: 100px;
  padding:0 200px;
  text-align: center;
}
.second-section-home h1{
  margin-top: 40px;
}
.second-section-home-column{
  flex: 1;
  margin-right: 40px; 
  margin: 3px ;
  padding: 10px;
}
.second-section-home-columns{
  display: flex;
  justify-content: space-between;
}
.second-section-home-columns a{
  text-decoration: none;
}
/* auto-move-slide-home */
.auto-move-slide-home{
   text-align: center;
   margin-top: 100px;
   background-color: white;
}
.carousel-indicators{
  background-color: #e1f4f8;
  margin-bottom: 128px;
}
.carousel-item {
  position: relative;
}
.auto-slide-image::after{
  transition: transform 0.4 s ease;     
}
.auto-slide-image:hover{
  transform: scale(0.9) ; 
  cursor: pointer;
}
.auto-slide-image img{
  border-radius: 5px;
}
.carousel-text {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color:white;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
.carousel-text a{
  text-decoration: none;
}
.carousel-item img {
  height: 30%; 
  object-fit: cover;
}
 /* what koboToolbox can do (home-page*/
 .third-section-home{
  background-color: rgb(255, 255, 255);
  color: #0f0e0e;
  padding: 20px;
  text-align: center;
}
.image-slider {
display: none;
}
.image-slider p {
display: none;
}
.image-slider{
  background-color: white;
  text-align: center;
}
.image-slider:first-child {
display: block; 
}
.image-link.active {
text-decoration: underline;
}
.third-section-home-columns{
  display: flex;
  justify-content: space-between;
}
.third-section-home-column{
  flex: 1; 
  margin-right: 40px; 
  margin: 3px ;
  padding: 10px;
}
.third-section-home-column a{
  text-decoration: none;
}
/* two diffent color on home page(blue&white) */
.fourth-section-home{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.left-column {
  width: 45%;
  background-color: #5a4cfa;
  padding: 170px;
  text-align: center;
}
.left-column h4 {
  margin-top: 40px;
}
.left-column button{
  background-color: white;
}
.right-column {
  width: 55%;
  background-color: #ffffff;
  padding: 50px;
}
.right-column a{
  text-decoration: none;
}
.text-content p{
  padding: 20px 0 0 0;
  color: #007bff;
}
.right-column img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}
.text-content {
  display: inline-block;
  vertical-align: middle;
}
.text-content h3 {
  color: #000;
  text-align: center;
  margin: 0;
}
.text-content p {
  display: block; 
  text-align: center;
  margin: 0; 
}
.image-text-container {
  display: inline-block;
  text-align: center;
}
.image-text-container img {
  width: 200px; 
  height: auto; 
  margin-right: 10px; 
  border-radius: 10px;
}
/* <!-- Services and partnerships on home-page and fearture-page --> */ 
.fiveth-section-home{
  text-align: center;
  margin-block-start: 60px;
  margin-block-end: 60px;
}
.fiveth-section-home p{
text-align: center;
}
.fiveth-section-home-columns{
  display: flex;
  justify-content: space-between;
  margin:0 90px;
  text-align: center;
}
.fiveth-section-home-columncolumn{
  flex: 1; 
  margin-right: 40px;
  margin: 3px ;
  padding: 10px;
}
.fiveth-section-home-columncolumn div{
  text-align: left; 
  margin-left: 70px;
}
.underline-blue::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: blue;
    margin-top: 5px; 
}
.underline-green::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: green;
    margin-top: 5px; 
}
.underline-orange::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: orange;
    margin-top: 5px; 
}
.underline-purple::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: purple;
    margin-top: 5px;
}
/* //////////////////////////////////////////////////////////// */
/* style for black footer use with all page  */
.divider {
    border-left: 3.1px solid rgb(116, 174, 224); 
    margin: 0 10px;
    height: 20px; 
    display: inline-block;
    vertical-align: middle;
}
.container h5 {
    color: rgb(172, 172, 230); 
    margin-top: 60px; 
}
footer {
  position: relative; 
  z-index: 1000;
}
.container ul li{
  list-style: none;
}
.footer-all-white-text a {
    color: white; 
    text-decoration: underline;
    line-height: 1.5; 
    display: inline-block;
    margin-top: 20px;
}
.footer-all-white-text h3{
  color: white;
  margin-top: 60px; 
  font-weight: bold;
}
.footer-all-white-text p{
color: white;
margin-top: 30px;
}
.footer-all-white-text button{
  margin-top: 30px;
}
.footer-all-white-text img{
  margin-top: 60px;
  text-align: center;
  width: 27px; 
  height: 21px; 
  border-radius:5px;
}
.footer-all-white-text div{
  text-align: center;
  margin-bottom: 50px;
}
/* /////////////////////////////////////////////// */
/* aboutUs-page */
.first-section-about {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  .first-section-about-left-column {
    width: 50%;
    background-color: #ffffff;
    padding: 90px;
  }
  .first-section-about-left-column p{
    margin-top: 35px;
  }
  .first-section-about-right-column {
    width: 50%;
    background-color: #ffffff;
    padding: 50px;
  }
  /* The Kobo Organization */
  .second-section-about{
    text-align: center;
    background-color:#f2f5fc;
    margin-top: 0 auto;
    display: inline;
  }
  .second-section-about h1{
    padding: 40px;
  }
  .second-section-about-columns{
    display: flex;
    justify-content: space-between;
    margin-left: 125px; 
    margin-right: 125px;
  }
  .second-section-about-columns a{
    text-decoration: none;
  }
  .second-section-about-column{
    flex: 1;
    margin: 3px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .second-section-about-column h3,p{
    color: black;
    margin-top: 30px;
    text-align: left;
  }
  .second-section-about-column a{
    color: #007bff;
  }
  /* Our software */
  .third-section-about{
    padding: 80px;
    background-color: white;
  }
 .third-section-about h1{
  text-align: center;
 }
 .third-section-about-group{
  display: inline-flex;
  margin-top: 40px;
 }
 .third-section-about-group div{
  margin-left: 50px;
 }
 .third-section-about-group a{
  text-decoration: none;
 }
 .third-section-about-group h3,p{
  color: black;
 }
 .third-section-about-group h3{
  margin-top: 50px;
 }
 /* Behind KoboToolbox on aboutUs-page*/
 .fourth-section-about{
  margin: 0;
  background-color: white;
 }
 .fourth-section-about h1{
  text-align: center;
  padding: 30px;
 }
 .fourth-sec-about-group{
  display: flex;
 }
 .fourth-sec-about-left-column{
  width: 50%;
  padding: 90px;
 }
 .fourth-sec-about-left-column p{
  margin-left: 40px;
  font-size: 20px;
 }
 .fourth-sec-about-right-column{
  width: 50%;
  padding: 50px;
 }
 .fourth-sec-about-right-column a{
  cursor: pointer;
  text-decoration: none;
 }
 .fourth-sec-about-right-column a h3,p{
  color: black;
 }
 /* partner withe us and donation on abouUs-page and help-paage */
 .fiveth-sec-diff-col{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
 }
 .fiveth-sec-diff-col a{
  text-decoration: none;
 }
 .fiveth-sec-diff-col p,h3{
  margin-left: 50px;
  color: black;
 }
 .fiveth-sec-diff-col-left-column{
  width: 50%;
  background-color: #a7eded;
  padding: 120px;
  display: inline-flex;
  margin: 0;
 }
 .fiveth-sec-diff-col-left-column img{
  margin-top: 100%;
 }
 .fiveth-sec-diff-col-right-column{
  width: 50%;
  padding: 120px;
  display: inline-flex;
 margin: 0;
 }
 .fiveth-sec-diff-col-right-column img{
  margin-top: 70px;
 }
 /* ////////////////////////////// */
 /* help-page */
 .first-section-help{
  display: flex;
  flex-wrap: wrap;
 }
 .first-section-help-left-column {
  width: 50%;
  background-color: #ffffff;
  padding: 90px;
}
.first-section-help-left-column h1,p{
  margin-top: 40px;
}
.first-section-help-right-column {
  width: 50%;
  background-color: white;
  padding: 50px;
}
/* Next on help-page */
.second-section-help{
  background-color: white;
  text-align: center;
}
.second-section-help-columns{
  display: flex;
  justify-content: space-between;
}
.second-section-help-columns a{
  text-decoration: none;
}
.second-section-help-columncolumn{
  flex: 1px;
  margin: 3px;
  padding: 10px;
  background-color: rgba(240, 228, 228, 0.5);
}
.second-section-help-columncolumn h3{
  color: black;
  margin-top: 35px;
  text-align: left;
}
/* ///////////////////////////// */
/* CSS for sticky sidebar impact-page ,mission&vision-page,financials-page,our.organization-page*/
.wrapper {
  position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
   
}
.under {
  position: fixed;
  top: 5px;
  left: 20px;
  z-index: 1;
}
.main-content {
    top: 0;
    width: 76%;
    margin-left: 25%;
    padding-left: 20px; 
    padding-right: 150px;
    margin-block-start: 70px;
    margin-block-end: 60px;
}
.main-content p{
  margin-top: 40px;
}
.main-content h1{
  margin-top: 50px;
}
.main-content h3{
  margin-top: 40px;
}
.main-content img{
  margin-top: 40px;
  margin-bottom: 40px;
}
.sticky-sidebar {
  width: 25%; 
  position: fixed;
  padding-top: 180px; 
  text-align: center;
}
.sticky-sidebar a{
  color: #7485b9;
  text-decoration: none;
  cursor: pointer;
}
/* Adjust line spacing for a tag on impact-page */
div .a_a a {
    line-height: 1.5;
    display: inline-block; 
    margin-top: 20px;
}
/* ////////////////////////////////// */
/* partner_with_us-page */
.root__main {
    padding: 5px;
    max-width: 700px;
    margin: 0 auto;
  }
  .form-control {
    border: none;
  }
  .form-control input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c87872;
    background-color:#f5f8fa;
  }
  .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form-control input[type="text"],
  .form-control textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c87872;
    background-color:#f5f8fa;
  }
  .form-control select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c87872;
    background-color:#f5f8fa;
  }
  .form-control button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  /* /////////////////////////////
  board&team-page */
  .board-team{
    grid: gap 3em;
    grid-template-columns: repeat(4,auto);
    grid-auto-flow: row;
    display: grid;
    padding: 0;
  }
  .board-team-list{
    text-align: center;
    width: 12.5rem;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    list-style: none;
  }
.board-team-name{
    color: #085996;
    margin: 1.1875rem 0 .9375rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  /* ////////////////////////
  job&volunteer-page */
 .job-body{
  background-color: #d3f0f3;
  display: flex;
}
.job-body div{
  margin-left: 400px;
  margin-right: 400px;
  margin-block-start: 60px;
  margin-block-end: 60px;
}
.job-body div p{
  margin-top: 50px;
}
/* /////////////////////////////////
divisory-body */
.divisory-body{
  display: inline-block;
  margin-left: 395px;
  margin-right: 395px;
  margin-block-start: 150px;
  margin-block-end: 60px;
}
.divisory-body p{
  margin-top: 50px;
}
.divisory-body ul{
  margin-top: 40px;
}
/* /////////////////////// */
/* style for feature */
.masthead{
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: wheat;
    background-image: -moz-linear-gradient(#6e6e6e,#a7a7a7,#383838);
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75),rgba(73, 73, 73, 0.75)),url(image/);
}
.description{
    font-size: 4rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-size: 50px;
    position: absolute;
    top: 100px;
    /* background-color: antiquewhite; */
    right: 70vh;
    text-align:left;
}
/* Descripttion */
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
/* Down on descriptin */
.homecontent{
    max-width: 600px;
}
.button.button{
    min-height: 1.35rem;
    min-width: 2.25rem;
    padding: .45rem .9rem;
    font-size: .8125rem;
    justify-items: center;
}
.button{
    cursor: pointer;
    justify-items: center;
}
.color_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
@media(max-width:768px){
    .masthead{
        min-height: 30vh;
    }
}
image{
    border-style: none;
    
}
.feature_row__icon{
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-right: 2.5rem;
}
.feature_row__icon{
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-right: 2.5rem;
}
.root__row--light-blue{
    background-color: #e6f4ff;
}
.root__row--background-third-right {
        background-image: linear-gradient(90deg ,#fff 0 33%,#fff 33% 66%,#04c3fd00 66% 100%);
        height: 100%;
        width: 100%;
    }
.root__row--background-third-left {
    background-image: linear-gradient(90deg ,#09b7f600 0 33%,#fff 33% 66%,#fff 66% 100%);
    height: 100%;
    width: 100%;
}  
 /*testing copy past  */
 .feature-row__icon {
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-right: 2.5rem;}
.feature-row__conten{
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    margin: 5rem auto;
    /* margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ; */
}
.feature-row__content--standard{
    flex-direction: row;
}
.feature-row{
    width: 100%;
    overflow: hidden;
}
.feature-row__info{
    display: block;
    unicode-bidi: isolate;
}
.feature-row__title-block {
    max-width: 26.875rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;}
.feature-row__title-block h1 {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;}
.feature-row__detail-list {
    padding: 0;
    list-style-type: none;
}
.feature-row__image-block {
    max-width: 50%;
}
.feature-row__image-block img{
    width: 100%;
    height: auto;
    display: block;
}
img, svg {
        vertical-align: middle;
    }
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate}
    /* css about data colection */
.root__row.root__row--storm {
        background-color: #f2f5fc
    }
/* //////////////////////////////////////// */
   /* service image-home-banner */
   img{
    border: none;
    
    overflow: clip; 
}
.root__row{
    width: 100%;
}
.root__row-content{
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
}
/* ជំនួសដោយប្រើ css feature imag blockវិញបានដើរ រូបខាងលើpage service */
/* .side-image-banner__img-container{
        max-width: 27.5rem;
        width: 45%;
        height: -moz-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: 6.25rem;
} */
.side-image-banner{
    
        width: 100%;
        height: 30rem;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 0;
        display: flex;
}

.side-image-banner__text-block {
    width: 55%;
    max-width: 35rem;
}
.banner-text--side-image h1 {
    margin: 0 0 1.875rem;
}

.banner-text h1 {
    color: #333847;
    font-size: 2.875rem;
    font-weight: 600;
    display: block;
}


    